.mcontainer {
  width: 500px;
  align-content: center;
  font-family:Verdana,sans-serif;
  margin:auto;
  height:90vh;
  width:100%;
  position:relative;
  min-height:490px;
  text-align: center;
}
#game {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
}
.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: #dcd6bc;
  margin-top: 20px;
  border: 10px solid #dcd6bc;
  margin-bottom: 10px;
}

.checked {
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
.valid {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
}

.bomb {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #57da59;
}

.four{
  color: #bb41d3;
}

#result {
  margin-top: 5px;
  color: #e76346;
}
